{% extends 'base.html.twig' %}

{% block title %}
Add Your wishes | {{ parent() }}
{% endblock %}

{% block body %}
    {% if wishForm.vars.value.id ==null %}
        <h2>Add your wishes !</h2>
    {% else %}
        <h2>Update your wishes !</h2>
    {% endif %}
    {{ form_start(wishForm) }}
    {{ form_row(wishForm.title) }}
    {{ form_row(wishForm.description) }}
    {{ form_row(wishForm.author) }}
    {{ form_row(wishForm.published) }}
    <button class="btn btn-sm btn-primary">{{ wishForm.vars.value.id ==null ? 'Create' : 'Modify' }}</button>
    {{ form_end(wishForm) }}

{% endblock %}


