<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_home') }}" title="Go back to Home !">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_wish_list') }}" title="Wishes">Wishes</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_wish_create') }}" title="Add your Wishes">Add Yours !</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_about_us') }}" title="About Us">About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}" title="Logout">Logout (Hello {{ app.user.username }})</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}" title="Create your account">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}" title="Login">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
