<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Bucket List !{% endblock %}</title>

        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
        {# Entete du site #}
        <header>
            <div class="container">
                <h1 class="header-logo">
                    <a href="{{ path("main_home") }}" title="Go back to homepage">
                        <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List Logo">
                        Bucket-List
                    </a>
                </h1>
                {% include('_navbar.html.twig') %}
            </div>
        </header>
        {# Contenu principal #}
        <main class="flex-grow-1">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
    <footer>
        <div class="container">
            &copy; Bucket-List {{ "now" | date("Y") }}
        </div>
    </footer>

    </body>
</html>
